/**
 * 	Main Element Styles
 */
* {
	box-sizing: border-box;

}

body {
	background-color: #252830;
	font-family: 'Lato', sans-serif;
}

a {
	text-decoration: none;
}



/**
 * 		Typography
 */
h1 {
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	font-size: 3em;
	margin-bottom: 25px;
	color: #e2e2e2;
	text-transform: uppercase;
	letter-spacing: 5px;
	margin-bottom: 50px;
}

h2 {
	font-family: 'Raleway', sans-serif;
	display: inline-block;
	font-size: 2em;
	margin-bottom: 25px;
	color: #e2e2e2;
	text-transform: uppercase;
	letter-spacing: 5px;
	border-bottom: 2px solid #e2e2e2;
	padding-bottom: 12px;
}



/**
 *		Tab System
 */
ul.tabs {
	margin: 0 0 60px 0;
	padding: 0px;
	list-style: none;
	border-bottom: 5px solid #e2e2e2;
}

ul.tabs li {
	background: none;
	letter-spacing: 1px;
	color: #e2e2e2;
	display: inline-block;
	padding: 10px 15px;
	cursor: pointer;
}

ul.tabs li.current {
	background: #ededed;
	color: #222;
	border-radius: 10px 10px 0 0;
}

.tab-content {
	display: none;
}

.tab-content.current {
	display: inherit;
}

/**
 * 		Main Nav
 */
nav {
	float: left;
	position: fixed;
	top: 0;
	left: 0;
	display: block;
	width: 6%;
	height: 100%;
	background-color: #30343e;
}

.main-nav li {
	min-width: 100%;
	text-align: center;
}

.nav-label {
	display: none;
    position: absolute;
    color: #e2e2e2;
    float: left;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8em;
    margin-left: 105%;
    margin-top: 20%;
    align-content: center;
    letter-spacing: 3px;
    padding: 15%;
    background-color: #141820;
    border-radius: 20px;
    z-index: 9;
}

.nav-link {
	border-bottom: 2px solid #262830;
	display: block;
	padding: 25% 0;
	float: left;
	width: 100%;
}

.nav-link:hover {
	background-color: #141820;
}

.active {
	background-color: #141820;
}

.nav-icon {
	max-width: 40%;
	position: relative;
	z-index: 9;
}

/**
 * 		Main Content
 */
.main-content {
	margin: 3% 15%;
	width: 75%;
	height: 100%;
}


/**
 * 		Super Simple Grid System
 */
.grid {
	display: flex;
}

.col-1 {
	flex: 1;
}

.col-2 {
	flex: 2;
}

.col-3 {
	flex: 3;
}

.col-4 {
	flex: 4;
}

.row-inside-row input, .row-inside-row .form-ddl {
	margin-bottom: 15px;
}

/**
 * 		Forms
 */
.form-main {
	width: 100%;
	margin-bottom: 35px;
}

.form-section {
	padding: 15px 15px 0px 15px;
}

.form-section label {
	display: block;
	margin-bottom: 10px;
	color: #e2e2e2;
	font-size: 1.2em;
	letter-spacing: 3px;
}

.form-input {
	display: block;
	border-radius: 5px;
	width: 100%;
	padding: 10px;
	font-size: 16px;
}

.form-ddl {
	height: 42px;
}

.form-textarea {
	resize: none;
	max-width: 100%;
}

.checkbox .checkbox-layout {
	position: realtive;
	display: inline-block;
	padding-left: 25px;
}

.btn {
	font-size: 1em;
	padding: 10px;
	border-radius: 10px;
}

.btn-submit {
	background-color: #1ec0a7;
	border: 1px solid #30343e;
	color: #fff;
}

.btn-submit:hover {
	background-color: #1ec0b8;
	border: 1px solid #30343e;
	color: #fff;
}

.btn-danger {
	background-color: #ee1100;
	border: 1px solid #30343e;
	color: #fff;
}

.btn-danger:hover {
	background-color: #CC1100;
	border: 1px solid #30343e;
	color: #fff;
}

.btn-update {
	background-color: #FF673A;
	border: 1px solid #30343e;
	color: #fff;
}

.btn-update {
	background-color: #FFA33A;
	border: 1px solid #30343e;
	color: #fff;
}



/**
 * 		Footer
 */


/**
 * 		Clear Fix
 */
.group:before,
.group:after {
    content: "";
    display: table;
}
.group:after {
    clear: both;
}
.group {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}