/**
 * 	Main Element Styles
 */
* {
	box-sizing: border-box;

}

body {
	background-color: #252830;
	font-family: 'Lato', sans-serif;
}

a {
	text-decoration: none;
}



/**
 * 		Typography
 */

h1 {
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	font-size: 3em;
	margin-bottom: 25px;
	color: #e2e2e2;
	text-transform: uppercase;
	letter-spacing: 5px;
}

hr {
	border-color: #e2e2e2;
    border-width: 2px;
    border-style: solid;
}







/**
 * 		Main Nav
 */
nav {
	float: left;
	position: fixed;
	top: 0;
	left: 0;
	display: block;
	width: 6%;
	height: 100%;
	background-color: #30343e;
}

.main-nav li {
	min-width: 100%;
	text-align: center;
}

.nav-label {
	display: none;
    position: absolute;
    color: #e2e2e2;
    float: left;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8em;
    margin-left: 105%;
    margin-top: 20%;
    align-content: center;
    letter-spacing: 3px;
    padding: 15%;
    background-color: #141820;
    border-radius: 20px;
    z-index: 9;
}

.nav-link {
	border-bottom: 2px solid #262830;
	display: block;
	padding: 25% 0;
	float: left;
	width: 100%;
}

.nav-link:hover {
	background-color: #141820;
}

.active {
	background-color: #141820;
}

.nav-icon {
	max-width: 40%;
	position: relative;
	z-index: 9;
}

/**
 * 		Main Content
 */
.main-content {
	margin: 3% 15%;
	width: 75%;
	height: 100%;
}


/**
 * 		Super Simple Grid System
 */
.grid {
	display: block;
}

[class*='col-'] {
  float: left;
}

.col-1 {
	width: 25%;
}

.col-2 {
	width: 50%;
}

.col-3 {
	width: 75%;
}

.col-4 {
	width: 100%;
}

.row-inside-row {
	padding-top: 15px;
}

/**
 * 		Forms
 */
.form-main {
	width: 100%;
}

.form-section {
	padding: 15px 15px 0px 15px;
}

.form-section label {
	display: block;
	margin-bottom: 10px;
	color: #e2e2e2;
	font-size: 1.2em;
	letter-spacing: 3px;
}

.form-input {
	display: block;
	border-radius: 5px;
	width: 100%;
	padding: 10px;
	font-size: 16px;
}

.form-ddl {
	height: 38px;
}

.form-textarea {
	height: 160px;
}

.btn {
	font-size: 1em;
	padding: 10px;
	border-radius: 10px;
}

.btn-submit {
	background-color: #1ec0a7;
	border: 1px solid #30343e;
	color: #fff;
}

.btn-submit:hover {
	background-color: #1ec0b8;
	border: 1px solid #30343e;
	color: #fff;
}

/**
 * 		Footer
 */


/**
 * 		Clear Fix
 */
.group:before,
.group:after {
    content: "";
    display: table;
}
.group:after {
    clear: both;
}
.group {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}